POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
REDIS_PORT=6379
ANYSQL_PORT=8765
ANYSQL_LLM_BASE_URL=http://ccnode.briconbric.com:22545
ANYSQL_CHAT_MODEL=qwen3:14b
ANYSQL_EMBED_MODEL=qwen3-embedding:8b
